In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('Crime_Incidents_in_the_Last_30_Days.csv')

# Display the first few rows of the dataframe
data.head()
# Display the column information
data.info()
# Display summary statistics
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1831 entries, 0 to 1830
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     1831 non-null   float64
 1   Y                     1831 non-null   float64
 2   CCN                   1831 non-null   int64
 3   REPORT_DAT            1831 non-null   object
 4   SHIFT                 1831 non-null   object
 5   METHOD                1831 non-null   object
 6   OFFENSE               1831 non-null   object
 7   BLOCK                 1831 non-null   object
 8   XBLOCK                1831 non-null   float64
 9   YBLOCK                1831 non-null   float64
 10  WARD                  1831 non-null   int64
 11  ANC                   1831 non-null   object
 12  DISTRICT              1823 non-null   float64
 13  PSA                   1823 non-null   float64
 14  NEIGHBORHOOD_CLUSTER  1831 non-null   object
 15  BLOCK_GROUP           1830 non-null   object
 16  CENSUS_TRACT          1830 non-null   float64
 17  VOTING_PRECINCT       1831 non-null   object
 18  LATITUDE              1831 non-null   float64
 19  LONGITUDE             1831 non-null   float64
 20  BID                   386 non-null    object
 21  START_DATE            1831 non-null   object
 22  END_DATE              1703 non-null   object
 23  OBJECTID              1831 non-null   int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 357.7+ KB

,X,Y,CCN,XBLOCK,YBLOCK,WARD,DISTRICT,PSA,CENSUS_TRACT,LATITUDE,LONGITUDE,OBJECTID,OCTO_RECORD_ID
count,1831.000000,1831.000000,1.831000e+03,1831.000000,1831.000000,1831.000000,1823.000000,1823.000000,1830.000000,1831.000000,1831.000000,1.831000e+03,0.0
mean,399026.080662,137874.746581,2.517250e+07,399026.080662,137874.746582,4.417258,3.592979,363.976413,6608.264481,38.908728,-77.011235,8.061927e+08,NaN
std,2934.138612,3512.093166,9.556477e+04,2934.138612,3512.093165,2.298873,1.852104,184.937358,22993.723528,0.031637,0.033831,1.116850e+05,NaN
min,390294.800000,127300.240000,2.415265e+07,390294.800000,127300.240000,1.000000,1.000000,101.000000,101.000000,38.813473,-77.111944,8.060702e+08,NaN
25%,397228.410000,136325.674750,2.513576e+07,397228.410000,136325.674766,2.000000,2.000000,206.000000,3302.000000,38.894777,-77.031952,8.061021e+08,NaN
50%,398809.620000,137783.600000,2.514027e+07,398809.620000,137783.600000,5.000000,3.000000,308.000000,6801.500000,38.907909,-77.013719,8.061149e+08,NaN
75%,400821.992600,139884.340000,2.514451e+07,400821.992607,139884.340000,6.000000,5.000000,504.000000,8904.000000,38.926831,-76.990531,8.063208e+08,NaN
max,407549.305000,147065.430000,2.551487e+07,407549.304997,147065.430000,8.000000,7.000000,708.000000,980000.000000,38.991518,-76.912980,8.063521e+08,NaN